.movie-container h1 {
  font-size: 40px;
  text-align: center;
}
.movie-container {
  background-color: green;
  display: flexbox;
  
}
.movie-list img {
  height: 50vh;
  margin: 0 5px;
  max-width: 55 vw;
}
.search-bar {
text-align: center;
}
